name: Python package

on:
  push:
    tags:
      - '*'
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test_and_build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]

    steps:
    - name: code download
      uses: actions/checkout@v2
      
    - name: python configuration ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Installation of dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install build pytest
        pip install .[dev]
        
    - name: pytest
      run: |
        pytest

  build-windows:
    runs-on: windows-2019
    steps:
      - name: Checkout
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/checkout@v1
      - name: Install Python
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/setup-python@v1
        with:
          python-version: '3.11'
          architecture: 'x64'
      - name: Install requirements
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          python -m pip install --upgrade pip
          python -m pip install build pytest
          python -m pip install pyinstaller
          pip install .[dev]
      - name: Run PyInstaller
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          pyinstaller --noconfirm --onefile --windowed --icon "src/twitchbot/interface_assets/R.ico" --name "Twitch ViewerBOT" --clean `
          --add-data "$GITHUB_WORKSPACE\\.local\\lib\\python3.11\\site-packages\\customtkinter;customtkinter\\" `
          --add-data "$GITHUB_WORKSPACE\\.local\\lib\\python3.11\\site-packages\\streamlink;streamlink\\" `
          --add-data "$GITHUB_WORKSPACE\\.local\\lib\\python3.11\\site-packages\\fake_useragent;fake_useragent\\" `
          --add-data "$GITHUB_WORKSPACE\\src\\twitchbot\\interface_assets;interface_assets\\" `
          --add-data "$GITHUB_WORKSPACE\\src\\twitchbot;twitchbot\\" `
          --add-data "$GITHUB_WORKSPACE\\.local\\lib\\python3.11\\site-packages\\Crypto;Crypto\\" `
          "/src/twitchbot/main.py"
      
      - uses: actions/upload-artifact@v2
        with:
          name: Windows_qwiklabs
          path: dist/qwiklab_badge_checker.exe

      - name: create release
        if: startsWith(github.ref, 'refs/tags/')
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.head_commit.message }}
          release_name: ${{ github.event.head_commit.message }}
          body: |
            Test Release v1.0.0
          draft: false
          prerelease: false
      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/')
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{steps.create_release.outputs.upload_url}}
          asset_path: dist/qwiklab_badge_checker.exe
          asset_name: Qwiklab-Badge-Checker-Windows-amd64.exe
          asset_content_type: application/zip